<div class="container">
	<div class="page-header"> 
		<div class="text-center">
			<h3>Bet!</h3>
		</div>
	</div>
	
	<div class="row question">
		<p class="lead">what do you think about it?</p>
		<p>
			<a href="#" class="btn btn-primary col-xs-5" role="button">YES</a> 
			<div class="col-xs-2 text-center"><h4>VS</h4></div>
			<a href="#" class="btn btn-default col-xs-5" role="button">NO</a>
		</p>
	</div>
	<div class="progress">
	  <div class="progress-bar progress-bar-warning" style="width: 40%">
	    <span>40000</span>
	  </div>
	  <div class="progress-bar progress-bar-danger" style="width: 60%">
	    <span>60000</span>
	  </div>
	</div>
	<div class="row comments-form">
	  <div class="col-xs-12">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Write your comment.">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">send</button>
	      </span>
	    </div>
	  </div>

	</div>
	<div class="row comments">
		<table class="table">
	        <tbody>
	        	<thead>
	        		<tr></tr>
	        		<tr></tr>
	        		<tr class="col-xs-1></tr>
	        		<tr class="col-xs-1></tr>
	        	</thead>	
	          <tr>
	            <td class="hidden">asdfsadfsa</td>
	            <td>
	            <div>Mark</div>
	            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis sem sed metus fermentum, vel molestie nunc placerat. Phasellus quam felis, volutpat venenatis sollicitudin sed, commodo quis est. Quisque non urna justo. Donec ut tortor eleifend, fringilla nisi varius, suscipit nibh.</div></td>
	            <td><span class="glyphicon glyphicon-thumbs-up"></span>10</td>
	            <td><span class="glyphicon glyphicon-thumbs-down"></span>5</td>
	          </tr>
	        </tbody>
    	</table>	
	</div>


</div>
<%- partial('partials/footer') %>
