<div class="container sub_color2">
	<div class="row sub_color4"> 
		<div class="text-center">
			<h3>My Profile</h3>
		</div>
	</div>
	
	<div class="sub_color2">
		<p class="lead"><strong>Account</strong></p>
		<p>jooddang@gmail.com</p>
		<p class="lead">Score</p>
		<p>23 Win 5 Draw 35 Lose</p>
		<p class="lead">Cash</p>
		<p>$2,349</p>
		<p class="lead">Recent History</p>
		<p id="transaction"></p>
		<p>more ></p>
		
	</div>
	<div class="row">

	</div>
	<div class="comments">
	</div>


</div>
<%- partial('partials/footer') %>