<div class="container main_color">
	<div class="row sub_color4"> 
		<div class="text-center">
			<h3>My Profile</h3>
		</div>
	</div>
	
	<div class="main_color">
		<p ><strong>Account</strong></p>
		<p class="lead">jooddang@gmail.com</p>
		<p><strong>Score</strong></p>
		<p class="lead">23 Win 5 Draw 35 Lose</p>
		<p ><strong>Cash</strong></p>
		<p class="lead">$2,349</p>
		<p ><strong>Recent History</strong></p>
		<p id="transaction_history"></p>
		
	</div>
	<div class="row">

	</div>
	<div class="comments">
	</div>


</div>
<%- partial('partials/footer') %>