<div class="container">

  <form class="form-signup" role="form">
    <h2 class="form-signup-heading">Please sign up</h2>
    <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Password" required="">
    <input type="text" class="form-control" placeholder="First name" required="" autofocus="">
    <input type="text" class="form-control" placeholder="Last name" required="" autofocus="">
    <input type="text" class="form-control" placeholder="state, city" required="" autofocus="">
    <input type="text" class="form-control" placeholder="age" required="" autofocus="">
    <div class="control-group">
		<label class="control-label bolder blue">Gender</label>
		<div class="radio">
			<label>
				<input name="form-field-radio" type="radio" class="">
				<span class="lbl">Male</span>
			</label>
		</div>
		<div class="radio">
			<label>
				<input name="form-field-radio" type="radio" class="">
				<span class="lbl">Female</span>
			</label>
		</div>
	</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>

</div>