<div class="container">

  <!--<form class="form-signup">-->
    <h2 class="form-signup-heading">Please sign up</h2>
    <input id="email" type="text" class="form-control" placeholder="Email address" required="" autofocus="">
    <input id="password" type="password" class="form-control" placeholder="Password" required="">
    <input id="fname" type="text" class="form-control" placeholder="First name" required="" autofocus="">
    <input id="lname" type="text" class="form-control" placeholder="Last name" required="" autofocus="">
    <input id="region" type="text" class="form-control" placeholder="state, city" required="" autofocus="">
    <input id="age" type="text" class="form-control" placeholder="age" required="" autofocus="">
    <div class="control-group">
		<label class="control-label bolder blue">Gender</label>
		<div class="radio">
			<label>
				<input name="gender" type="radio" value="M">
				<span class="lbl">Male</span>
			</label>
		</div>
		<div class="radio">
			<label>
				<input name="gender" type="radio" value="F">
				<span class="lbl">Female</span>
			</label>
		</div>
	</div>
    <button id="btnSignup" class="btn btn-lg btn-primary btn-block">Sign up</button>
  <!--</form>-->

</div>
