
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.main_color {
	color: #000000;
	background-color: #E3DFBA;
	border-color: #E3DFBA;
}

.sub_color1 {
	color: #efefef;
	background-color: #C8D6BF;
	border-color: #C8D6BF;
}

.sub_color2 {
	color: #000000;
	background-color: #93CCC6;
	border-color: #93CCC6;
}

.sub_color3 {
	color: #ffffff;
	background-color: #6CBDB5;
	border-color: #6CBDB5;
}

.sub_color4 {
	color: #ffffff;
	background-color: #1A1F1E;
	border-color: #1A1F1E;
}

.win {
	color: #4C8054;
}

.lose {
	color: #802A47;
}

.new_predict_controls {
	margin-top: 1em;
	margin-bottom: 1em;
}

.vertical_middle {
	vertical-align: middle;
}

.btn-group-justified .nav_row {
	margin-bottom: 2em;
}

.btn .nav_row {
	margin-bottom: 2em;
}

.comments-form {
	margin-top: 2em;
}