<form action="/issue/create">
title: <input type="text" name="title"><br>
amount: <input type="text" name="amount"><br>
deadline: <input type="text" name="deadline"><br>
status: <input type="text" name="status"><br>
owner: <input type="text" name="owner"><br>
choice1: <input type="text" name="choiceOne"><br>
choice2: <input type="text" name="choiceTwo"><br>
<input type="submit">
</form>


<form action="/issue/update">
amount: <input type="text" name="amount"><br>
status: <input type="text" name="status"><br>
<input type="hidden" name="id" value="1">
<input type="submit">
</form>
