<form action="/issue/update">
issue id: <input type="text" name="id"><br>
title: <input type="text" name="title"><br>
choice1: <input type="text" name="choiceOne"><br>
choice2: <input type="text" name="choiceTwo"><br>
amount1: <input type="text" name="amountOfChoiceOne"><br>
amount2: <input type="text" name="amountOfChoiceTwo"><br>
people1: <input type="text" name="peopleOfChoiceOne"><br>
people2: <input type="text" name="peopleOfChoiceTwo"><br>
deadline: <input type="text" name="deadline"><br>
status: <input type="text" name="status"><br>
owner: <input type="text" name="owner"><br>
result: <input type="text" name="result"><br>
like: <input type="text" name="like"><br>
<input type="submit">
</form>

<form action="/transaction/create">
issueId: <input type="text" name="issueId"><br>
amount: <input type="text" name="amount"><br>
account: <input type="text" name="account"><br>
choice: <input type="text" name="choice"><br>
result: <input type="text" name="result"><br>
<input type="submit">
</form>



<form action="/issue/delete">
id: <input type="text" name="id"><br>

<input type="submit" value="이거 지우는거임!!!">
</form>
